:root {
  --def-border: 2px solid black;
  --def-border-radius: 1rem;
  --def-padding: 1rem;
}

* {
  box-sizing: border-box;
  /* border: 0.2px solid black; */
}
.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-wrap: wrap;
  max-width: 100vw;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0.5rem;
}
.text {
  width: 100%;
  border: var(--def-border);
  outline: 8px ridge rgba(170, 50, 220, 0.6);
  border-radius: var(--def-border-radius);
  font-size: 1.5rem;
  padding: var(--def-padding);
}
.typing-field {
  resize: none;
  border: var(--def-border);
  border-radius: var(--def-border-radius);
  font-size: 1.5rem;
  margin: 1rem auto;
  max-width: 100%;
  flex-shrink: 1;
}
#typing-field {
  padding: var(--def-padding);
  font-size: 1.5rem;
}
.menu {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.correct {
  background-color: rgb(106, 222, 106);
}
.wrong {
  background-color: rgb(215, 91, 91);
}
.in-progress * {
  text-decoration: underline;
}
.statistics {
  display: flex;
  justify-content: space-around;
}
.stat-header {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  text-align: center;
  min-width: 150px;
  min-height: 120px;
  padding: var(--def-padding);
}
.stat-value {
  flex-grow: 1;
  align-content: center;
  flex-direction: column;
  font-size: x-large;
  text-align: center;
  border: var(--def-border);
  border-radius: var(--def-border-radius);
  min-width: 150px;
}
